{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>

        </p>
        <p>
          Hi, I'm a passionate developer who loves turning ideas into real,
          working applications. This project is a reflection of my continuous
          curiosity to explore new tools, write clean code, and solve real-world problems.
          Every feature here was built with attention to detail,
          and I'm always open to feedback, contributions, or just connecting with like-minded devs!
        </p>
        <p>
          Find me on Linkedin!
        </p>
        <a href="https://github.com/Gruyanidas?tab=repositories">My GitHub</a>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
